.door {
    position: absolute;

    width: 5em;
    height: 8em;

    border: whitesmoke 1px solid;

    opacity: 0;
}

.serif {
    position: absolute;

    width: 5em;
    height: 8em;

    border: whitesmoke 1px solid;

    opacity: 0;
}

.item {
    position: absolute;

    font-size: 1em;

    width: 4em;
    height: 4em;

    background-size: cover;

    & img {
        width: 100%;
        height: 100%;
    }
}

#item {
    overflow-y: auto;
    padding-top: 4em;
    flex-direction: column;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotate(0);
    }

    50% {
        transform: translate(-50%, 0) rotate(45deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0);
    }
}

.room-name {
    position: absolute;
    z-index: 1;

    top: 1em;
    right: 1em;

    font-size: 6dvh;

    background-color: #111c;

    &::before,
    &::after {
        content: "--";
    }
}

.back {
    position: absolute;

    font-size: 4dvh;

    bottom: 0;
    width: 24em;
    height: 4em;
    border: whitesmoke 1px solid;

    opacity: 0;

    &:hover {
        scale: 1;
        opacity: 1;
    }
}

.background {
    position: absolute;
    width: 100%;
}

#pause {
    & #buttons {
        gap: 1em;
    }
}
